:root {
  --primary-color: #2F4F4F;
  --secondary-color: #A3C585;
  --background-color: #F5F1E9;
  --text-color: #8B5E3C;
  --accent-color: #D27D4F;
  --main-font-family: 'Roboto', sans-serif;
  --heading-font-family: 'Montserrat', serif;
}
body {
  margin: 0;
  font-family: var(--main-font-family);
  background-color: var(--background-color);
  color: var(--primary-color);
}

header {
  padding: 1rem;
  background-color: var(--primary-color)  ;
  color:var(--background-color);
}

main {
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

footer {
  padding: 1rem;
  text-align: center;
  background-color: var(--secondary-color);
}
